@import "tailwindcss";
@import './animations.css';

@theme inline {
  --color-accent: var(--color-cyan-400);
  --color-main:  #222;
  --color-on-main: #fff;
  --color-on-main-2: #d5d5d5;
  --color-on-main-3: #aaa;
  --color-surface: #444444;
  --color-surface-2: #333;
  --color-around-surface-2: #444;
  --color-on-surface: #fff;
}